tenancy_ocid = "${tenancy_ocid}"
user_ocid = "${user_ocid}"
fingerprint= "${fingerprint}"
private_key_path = "/opt/tools/agent/image/oci_api_key.pem"
region = "${region}"
compartment_ocid = "${compartment_ocid}"
